table {
    width: 100%;
  }
  .employee-page {
    padding: 60px;
  }
th {
  background-color: #343a40 !important;
  color: white !important;
}
.button-and-search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  